{% extends 'base.html' %}

{% block content %}
<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

<br>

<a href="/add_prestazione" class="btn btn-success">Crea Prestazione</a>

<br>
<br>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Cerca per nome.." class="form-control">

<br>
<table class="table" id="myTable">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">prezzo</th>

    </tr>
  </thead>
  <tbody>
    <tr>
          {%for prestazione in prestazioni%}
      <th scope="row">{{prestazione.id}}</th>

        <td>{{prestazione }}</td>
        <td>{{prestazione.prezzo }}</td>

        <td><a href="/prestazione/{{prestazione.id}}/edit">Vedi e Modifica</a></td>



    </tr>
    {%endfor%}

  </tbody>
</table>

{%for prevenitvo in preventivo%}
{{prevenitvo.ripetizione}}
    {%endfor%}
{% endblock content %}
