{% extends 'base.html' %}

{% block content %}


<!-- <input class="btn btn-success" id="toggleButton" type="button" value="Aggingi Prestazione" onclick="counter++; aggiungi('box');">
<input class="btn btn-errore" id="toggleButton" type="button" value="Elimina" onclick="counter--; aggiungi('box');">
-->



<form method="POST" class="post-form">{% csrf_token %}
  <div class="row">
  Cliente:{{ form.cliente }}
  </div>


<br>

  <div class="row">
  Prestazioe1:{{ form.prestazione1 }}
  N°:{{ form.ripetizione1 }}
  </div>

<br>

<div class="row">
Prestazioe2:{{ form.prestazione2 }}
N°:{{ form.ripetizione2 }}
</div>


<br>


<div class="row">
Prestazioe3:{{ form.prestazione3 }}
N°:{{ form.ripetizione3 }}
</div>




<br>

<div class="row">
Prestazioe4:{{ form.prestazione4 }}
N°:{{ form.ripetizione4 }}
</div>


<br>

<div class="row">
Prestazioe5:{{ form.prestazione5 }}
N°:{{ form.ripetizione5 }}
</div>

<br>
<div class="row">
Prestazioe6:{{ form.prestazione6 }}
N°:{{ form.ripetizione6 }}
</div>
<br>
<div class="row">
Prestazioe7:{{ form.prestazione7 }}
N°:{{ form.ripetizione7 }}
</div>
<br>
<div class="row">
Prestazioe8:{{ form.prestazione8 }}
N°:{{ form.ripetizione8 }}
</div>
<br>
<div class="row">
Prestazioe9:{{ form.prestazione9 }}
N°:{{ form.ripetizione9 }}
</div>
<br>
<div class="row">
Prestazioe10:{{ form.prestazione10 }}
N°:{{ form.ripetizione10 }}
</div>
<br>
<div class="row">
Prestazioe11:{{ form.prestazione11 }}
N°:{{ form.ripetizione11 }}
</div>
<br>
<div class="row">
Prestazioe12:{{ form.prestazione12 }}
N°:{{ form.ripetizione12 }}
</div>
<br>
<div class="row">
Prestazioe13:{{ form.prestazione13 }}
N°:{{ form.ripetizione13 }}
</div>
<br>
<div class="row">
Prestazioe14:{{ form.prestazione14 }}
N°:{{ form.ripetizione14 }}
</div>
<br>

<div class="row">
Prestazioe15:{{ form.prestazione15 }}
N°:{{ form.ripetizione15 }}
</div>



<br>
    <input type="submit" id="salva" class="btn btn-primary" />
</form>






<!--
<script>
var counter = 0;
var numBoxes = 4;
function aggiungi(showHideDiv) {
       var ele = document.getElementById(showHideDiv + counter);
       if(ele.style.display == "block") {
              ele.style.display = "none";
       }
       else {
              ele.style.display = "block";
       }

}

</script>
-->
{% endblock content %}
