{% extends 'base.html' %}

{% block content %}

<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

<br>

<a href="/add_preventivo" class="btn btn-success">Crea Preventivo</a>
<br>
<br>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Cerca per cognome.." class="form-control">


<br>
<table class="table"  id="myTable">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cognome</th>
      <th scope="col">Nome</th>

    </tr>
  </thead>
  <tbody>
    <tr>
          {%for prevenitvo in preventivo%}
      <th scope="row">{{prevenitvo.id}}</th>

        <td>{{prevenitvo.cliente.cognome}}</td>
        <td>{{prevenitvo.cliente.nome}}</td>
        <td><a href="/prevetnivo/{{prevenitvo.id}}/edit">Modifica</a></td>
        <td><a href="/prevetnivo/{{prevenitvo.id}}/stampa">Stampa</a></td>


    </tr>
    {%endfor%}

  </tbody>
</table>

{%for prevenitvo in preventivo%}
{{prevenitvo.ripetizione}}
    {%endfor%}
{% endblock content %}
