{% extends 'base.html' %}

{% block content %}


<br>

<a href="/add_utente" class="btn btn-success">Aggiungi Nuovo Cliente</a>

<br>
<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Cognome</th>
      <th scope="col">Mail</th>
      <th scope="col">Telefono</th>
    </tr>
  </thead>
  <tbody>
    <tr>
          {%for utente in utenti%}
      <th scope="row">{{utente.id}}</th>

        <td>{{utente.nome}}</td>
        <td>{{utente.cognome}}</td>
        <td>{{utente.mail}}</td>
        <td>{{utente.telefono}}</td>
        <td><a href="/utente/{{utente.id}}/edit">Modifica</a></td>


    </tr>
    {%endfor%}

  </tbody>
</table>

{% endblock content %}
